name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  unit-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Setup test
        run: curl -sL https://raw.githubusercontent.com/gorse-io/gorse/refs/heads/master/client/setup-test.sh | bash
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          tools: composer
      - name: Install dependencies
        run: composer install
      - name: Set up autoloading
        run: composer dump-autoload
      - name: Run tests
        run: ./vendor/bin/phpunit test
